Final Unity Server Side Architecture/Library/
Final Unity Server Side Architecture/Logs/
Final Unity Server Side Architecture/Temp/
Final Space Agents Game Launcher/electron react tutorial/node_modules
Final Client Side Architecture/Space Agents/Library
Final Client Side Architecture/Space Agents/Logs
Final Client Side Architecture/Space Agents/Temp
Final web client and middleware node index.js in server folder/Final Space Agents Web/client/node_modules
Final web client and middleware node index.js in server folder/Final Space Agents Web/server/node_modules